* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Just Me Again Down Here', cursive;
    background-image: url('/css/images/Menu Item background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .side-menu img {
    width: 45px;
    height: 45px;
  }
  
  .side-menu a.menu {
    margin-top: 10px;
  }
  
  .side-menu a.profile {
    margin-top: 50px;
  }
  
  .side-menu a.games {
    margin-top: 40px;
  }
  
  .side-menu a.treasures {
    margin-top: 55px;
    margin-left: -25px;
    width: 20px;
    height: 20px;
  }
  
  .side-menu a.achievements {
    margin-top: 75px;
  }
  
  .side-menu a.leaderboard {
    margin-top: 45px;
  }
  
  header {
    margin-left: 80px;
    color: #000000;
    text-align: center;
    padding: 20px 0;
  }
  
  .logo {
    font-family: 'Just Me Again Down Here', cursive;
    margin-left: 47.5%;
    font-size: 4rem;
    font-weight: bolder;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: bolder;
    margin-left: 7%;
  }
  
  .flashcards-container {
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
  }
  
  .flashcard {
    text-decoration: none;
    background-color: #f8f4e3;
    border: 1px solid #7d6956;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .flashcard:hover {
    transform: translateY(-10px);
  }
  
  .flashcard h3 {
    margin-bottom: 10px;
    color: #000000;
    font-weight: bolder
  }

   .flashcard h4 {
    margin-bottom: 10px;
    color: #000000;
    font-weight: bolder;
  }

  .flashcard p {
    margin: 5px 0;
    color: #666;
    font-weight: bold;
  }
  
 