<nav class="side-menu">
      <img class="menu" src="/css/images/Menu image.png" alt="Menu" />
      <a class="profile" href="/Findly/users/<%= user? user.id : '' %>"><img src="/css/images/Profile photo image.png" alt="User Profile" /></a>
      <a class="games" href="/Findly/games"><img src="/css/images/Gamepad image.png" alt="Games" /></a>
      <a class="treasures" href="/Findly/treasures"><img src="/css/images/Search image.png" alt="Treasures" /></a>
      <a class="achievements" href="/Findly/achievements"><img src="/css/images/Achievement image.png" alt="Achievements" /></a>
      <a class="leaderboard" href="/Findly/leaderboards"><img src="/css/images/Podium image.png" alt="Leaderboard" /></a>
</nav>