<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findly - 404 Page Not Found</title>
    <link rel="stylesheet" href="/css/404Page.css">
    <link href="https://fonts.cdnfonts.com/css/just-me-again-down-here-2" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Findly</h1>
    </header>
    <main>
        <div class="section">
            <h2>404 Page Not Found</h2>
            <h3>Arrr! Looks like ye be lost at sea, little pirate! 🏴‍☠️</h3>
            <h4>The treasure ye seek ain't here. Just a sea full of sharks. Maybe try chartin' a new path?</h4>
        </div>
    </main>
    <audio id="background-music" autoplay loop>
        <source src="/css/audio/there-be-pirates-endless-seas(background audio).mp3" type="audio/mp3">
    </audio>
    <script>
        window.onload = function() {
            const audio = document.getElementById('background-music');
            audio.muted = false;
            audio.play();
            audio.volume = 0.35;
        };
    </script>
</body>