<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findly Terms of Service</title>
    <link rel="stylesheet" href="/css/termsPage.css"> 
    <link href="https://fonts.cdnfonts.com/css/just-me-again-down-here-2" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">Findly</div>
        <nav>
            <a href="/Findly">Home</a>
            <a href="/Findly/privacy">Privacy</a>
            <a href="/Findly/terms">Terms</a>
        </nav>
    </header>
    <main>
        <section class="terms">
            <h1>Terms of Service</h1>
            <p>Welcome to Findly! These terms and conditions outline the rules and regulations for the use of Findly's website and services.</p>
            <h1>Introduction</h1>
            <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use Findly if you do not agree to all of the terms and conditions stated on this page.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Findly. All rights reserved.</p>
    </footer>
    <audio id="background-music" autoplay loop>
        <source src="/css/audio/there-be-pirates-endless-seas(background audio).mp3" type="audio/mp3">
    </audio>
    <script>
        window.onload = function() {
            const audio = document.getElementById('background-music');
            audio.muted = false;
            audio.play();
            audio.volume = 0.35;
        };
    </script>
</body>
</html>