<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findly - Scavenger Hunt</title>
    <link rel="stylesheet" href="/css/welcomePage.css">
    <link href="https://fonts.cdnfonts.com/css/just-me-again-down-here-2" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Findly</h1>
        <a href="/Findly/aboutus" class="aboutus">about us</a>
        <a href="mailto:contact@findly.com" class="contact">contact</a>
        <a href="/Findly/signup" class="signup">Sign Up</a>
    </header>

    <main>
        <div class="welcome">
            <h2>Welcome !</h2>
            <h3>to the Ultimate Scavenger<br>Hunt Game ...</h3>
            <a href="/Findly/signup">Start the Hunt</a>
        </div>
        <h4>Find hidden treasures across<br>the web by solving riddles and<br>completing challenges</h4>
    </main>

    <footer>
        <p>© 2024 Findly. All Rights Reserved.</p>
        <div class="footer-info">
            <div class="first-column">
                <h5>Findly</h5>
                <div class="first-first-row">
                    <a href="/Findly">
                        <div class="home-pic-container">
                            <img src="/css/images/Home image.png" alt="Home Picture" class="home-pic">
                        </div>
                        <h6>Home</h6>
                    </a>
                </div>
                <div class="first-second-row">
                    <a href="/Findly/aboutus">
                        <div class="about-pic-container">
                            <img src="/css/images/info image.png" alt="About Picture" class="about-pic">
                        </div>
                        <h6>About</h6>
                    </a>
                </div>
            </div>
            <div class="second-column">
                <h5>Socials</h5>
                <div class="second-first-row">
                    <a href="mailto:contact@findly.com">
                        <div class="email-pic-container">
                            <img src="/css/images/Email image.png" alt="Email Picture" class="email-pic">
                        </div>
                        <h6>Email</h6>
                    </a>
                </div>
                <div class="second-second-row">
                    <a href="https://www.instagram.com">
                        <div class="Instagram-pic-container">
                            <img src="/css/images/Instagram image.png" alt="Instagram Picture" class="instagram-pic">
                        </div>
                        <h6>Instagram</h6>
                    </a>
                </div>
                <div class="second-third-row">
                    <a href="https://www.twitter.com">
                        <div class="twitter-pic-container">
                            <img src="/css/images/Twitter image.png" alt="Twitter Picture" class="twitter-pic">
                        </div>
                        <h6>Twitter</h6>
                    </a>
                </div>
                <div class="second-fourth-row">
                    <a href="https://m.facebook.com">
                        <div class="facebook-pic-container">
                            <img src="/css/images/Facebook image.png" alt="Facebook Picture" class="facebook-pic">
                        </div>
                        <h6>Facebook</h6>
                    </a>
                </div>
                <div class="second-fifth-row">
                    <a href="https://www.youtube.com">
                        <div class="youtube-pic-container">
                            <img src="/css/images/Youtube image.png" alt="Youtube Picture" class="youtube-pic">
                        </div>
                        <h6>Youtube</h6>
                    </a>
                </div>
            </div>
            <div class="third-column">
                <h5>Join Our Newsletter</h5>
                <input type="email" placeholder="Enter your email address" class="newsletter-input">
                <button type="submit" class="newsletter-submit"
                    onclick="alert('You joined the news letter successfully')">Submit</button>
            </div>
        </div>
    </footer>
</body>

</html>